*{
    margin:0px;
    padding: 0px;
}
.header{
    width: 100%;
    height:30px;
    background-color:yellowgreen;
    margin:auto;
}
.menu{
    width:100%;
    height:80px;
    background-color: aquamarine;
    margin:auto;


}

@media screen and (max-width: 992px) {
    .cake1 {
  
  width: 100%;
  height: 250px;
  margin-top: 10px;
    
  }
  .cake2 {
  
  width: 100%;
  height: 250px;
  
  margin-top: 10px;
  }
  .cake3 {
  
  width: 100%;
  height: 250px;
  
  margin-top: 10px;
  }
  .cake4 {
  
  width: 100%;
  height: 250px;
  
  margin-top: 10px;
  }
  }